<footer class="footer" id="footer">
	<div class="footer_phone_mobile uk-visible-small">
		<div class="uk-container uk-container-center">
			<div class="uk-grid">
				<div class="uk-width-1-1">
					<div class="contact-phone uk-text-left">
						<a href="tel:*2518" class="uk-display-inline-block"> <span class="header-phone-icon-asterisk">*</span>2518<span class="header-phone-icon"></span></a>
                        <br><span>звонок с мобильного бесплатный</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="uk-container uk-container-center">
		<div class="uk-grid">
			<div class="uk-width-small-10-10 uk-width-medium-7-10">
				<style>
.footer .footer-nav-list li:last-child a {
    background-color: #fbcc32;
    border-radius: 8px;
    padding: 3px 6px 3px 6px;
    color: #fff;
}
.footer .footer-nav-list li a {
    line-height: 25px;
}
</style>

<ul class="footer-nav-list uk-margin-bottom">
        <li><a href="/o-banke/">О Банке</a></li>
        <li><a href="/o-banke/zakupki/">Закупки</a></li>
        <li><a href="/o-banke/rekvizity/">Реквизиты</a></li>
        <li><a href="/o-banke/kontakty/">Контакты</a></li>
        <li><a href="/o-banke/kontakty/feedback/">Отзывы и предложения</a></li>
        <li><a href="/o-banke/notariusam/">Информация для нотариусов</a></li>
        <li><a href="/o-banke/raskrytie-informatsii/">Раскрытие обязательной информации</a></li>
        <li><a href="/gos-uslugi/crt_bezopasnosti/">Сертификат безопасности</a></li>
        <li><a href="https://kk.bank/o-banke/raskrytie-informatsii/#CBRF">Информация о процентных ставках по договорам банковского вклада с физическими лицами</a></li>
        <li><a href="/isimple/bezopasnost.php">Противодействие несанкционированным операциям</a></li>
        <li><a href="/isimple/borba_s_moshennichestvom/">Правила финансовой безопасности</a></li>
    </ul>


			<div class="bank-footer-info uk-text-left uk-margin-bottom uk-hidden-small">
					<br>
					© 1993 - 2023 КБ  «Кубань Кредит» ООО
					<br>
					Генеральная лицензия на осуществление банковских операций №2518 Банка России от 3 июля 2012 года
				</div>
			</div>
							<div class="uk-width-small-10-10 uk-width-medium-3-10 uk-text-left uk-margin-bottom padding-left-remove">
				<div class="bank-social-info uk-text-left">
					<ul  class="social-links">
						<li ><a class="social-vk" alt="вк" href="https://m.vk.com/kubankredit" target="_blank"  rel="noreferrer" onclick="yaCounter438371.reachGoal('cc-vk');return true;"></a></li>
						<li ><a class="social-ok" alt="одноклассники" href="https://m.ok.ru/kubankredit" target="_blank"  rel="noreferrer" onclick="yaCounter438371.reachGoal('cc-ok');return true;"></a></li>
						<li ><a class="social-tg" alt="Телеграм" href="https://t.me/kk_bank/" target="_blank"  rel="noreferrer" onclick="yaCounter438371.reachGoal('ms-tg');return true;"></a></li>
					</ul>
				</div>
                <div class="popup text_item hidden" id="popup_AppStore">
    <div class="modal_wrap">
        <div class="modal_window">
            <button class="modal_cross" id="close_popup_AppStore">X</button>
            <div class="popup_line">
                <div class="half">
                    <span><img src="/local/assets/img/stores/0_app_store_qr.png"  alt="appstore" style="cursor: pointer;"></span>
                </div>
                <div class="half">
                    <span>Для скачивания приложения "Кубань Кредит Онлайн" из App Store отсканируйте QR-код на вашем устройстве или перейдите по
                        <a target="_blank" href="https://apps.apple.com/ru/app/%D0%BA%D1%83%D0%B1%D0%B0%D0%BD%D1%8C-%D0%BA%D1%80%D0%B5%D0%B4%D0%B8%D1%82-%D0%BE%D0%BD%D0%BB%D0%B0%D0%B9%D0%BD/id895734191">ссылке</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>