{% extends 'base.html' %}

{% block title %}
    Index Page
{% endblock %}

{% block body %}
        <div class="cont_header">
            <h2 class="h2_contacts">О компании</h2>
            <p class="paragraph">Компания создана в октябре 2023 года для реализации итогового учебного проекта студента курса python-разработка GeekBrains</p>
        </div>
        <div class="form-center" align ="left">
            <div class="cont_inf">
                <img src="static/css/logo.png" alt="logo" width="350">
                <h4 class="h4">Адрес</h4>
                <p class="paragraph">Бизнес-центр Гоголевский бул., 11, Москва, Россия</p>
                <h4 class="h4">Контактные телефоны</h4>
                <ul>
                    <li>+7 (918) 635-50-27 Гладков Артем</li>
                    <li>+7 (999) 444-31-47 GeekBrains</li>
                </ul>
                <h4 class="h4">Электронная почта</h4>
                <ul>
                    <li>mail.ru</li>
                    <li>mail@mail.ru</li>
                </ul>
            </div>

        </div>

        <br>
        <script class="container" type="text/javascript" charset="utf-8" async
            src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af28ca3c676c53e377087ecbc693825200a05c5aef8117af7d08d4cd78c847c69&amp;width=100%&amp;height=270&amp;lang=ru_RU&amp;scroll=true"></script>
        <div class="footer">
            <div class="container">
                <div class="footer_top">
                    <div class="footer_content">
                        <h3 class="h3 width-340">Как добраться?</h3>
                        <p class="paragraph width-495">Три шага влево от зеленого столба и семь прямо от пушистой собаки.</p>
                    </div>

                </div>

                <hr>

                    <div class="footer_cr">
                        <p class="paragraph">"Все права защищены"</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>

{% endblock %}


