Flask==2.3.0
Flask_Login==0.6.2
flask_sqlalchemy==3.1.1
PyMySQL==1.1.0
SQLAlchemy==2.0.21
Werkzeug==2.3.0
WTForms==3.1.0
alembic~=1.12.1
requests~=2.31.0
bs4~=0.0.1
beautifulsoup4~=4.12.2
pandas~=2.1.2
retry~=0.9.2