{% extends 'base.html' %}

{% block title %}
    Create request
{% endblock %}

{% block body %}
    <h1></h1>
    <div>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
                {% for msg in get_flashed_messages() %}
<div class="flash">{{msg}}</div>
{% endfor %}
            {% if current_user.is_authenticated %}
    <form method="post">
    {{ form.csrf_token }}

    {% for field_name in ['low_price','max_price','link'] %}
    {% set field = form[field_name] %}


    <div class="my-3">
        {{ field.label(class="form-label") }}
        {{ field(class="form-control") }}
    </div>
    {% endfor %}
        {{ form.submit(class="btn btn-primary my-3") }}
    </form>

        {% else %}
        Для того, чтобы воспользоваться сервисом, пожалуйста, авторизуйтесь или пройдите регистрацию!
    {% endif %}
</div>
{% endblock %}